<div class="navbar">
  <div class="searchbar">
    <mat-form-field class="example-full-width" autocomplete="off" floatLabel="never">
      <input matInput (keyup.enter)="searchMovie(query)" #query placeholder="Search for a movie.." autocomplete="off">
      <button mat-icon-button matSuffix (click)="searchMovie(query)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="add-btn">
    <button mat-stroked-button (click)="openAddMovieForm()" color="primary">
      Add a movie
    </button>
  </div>
</div>

<div class="main-container">
  <div class="pagination-section">
    <button [disabled]="isPrevDisabled()" mat-stroked-button class="pagination-btn" (click)="goPrev()">
      <mat-icon>chevron_left</mat-icon>
      Prev
    </button>
    <button [disabled]="isNextDisabled()" mat-stroked-button class="pagination-btn" (click)="goNext()">
      Next
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div class="previous">
    <button [disabled]="isPrevDisabled()" mat-fab (click)="goPrev()" class="scroll-btn">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>

  <div class="content">
    <ng-container *ngIf="movies.length >0; then results; else noresults">
    </ng-container>
    <ng-template #results>
      <ng-container *ngFor="let movie of movies">
        <app-movie-card [movie]="movie" (onMovieEdit)="movieEditHandler($event)" (onMovieDeleted)="movieDeletedHandler($event)"
          class="card-movie">
        </app-movie-card>
      </ng-container>
    </ng-template>
    <ng-template #noresults>
      <div class="no-results">
        <div>
          <h1>No results to display...</h1>
        </div>
        <div>
          <h1>Please search another movie</h1>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="next">
    <button [disabled]="isNextDisabled()" mat-fab (click)="goNext()" class="scroll-btn">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div class="pagination-section">
    <button [disabled]="isPrevDisabled()" mat-stroked-button class="pagination-btn" (click)="goPrev()">
      <mat-icon>chevron_left</mat-icon>
      Prev
    </button>
    <button [disabled]="isNextDisabled()" mat-stroked-button class="pagination-btn" (click)="goNext()">
      Next
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>