.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: #d6cece;
    width: 100%;
    position: fixed;
    height: 70px;
    top: 0;
    z-index: 1000;
}

.searchbar{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.example-full-width {
  width: 100%;
}
.add-btn{
     padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient( #0f0e0f, #1b141b); 
     margin-top: 70px;
}

.previous {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 5px;
}

.next{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    right: 5px;
}

.scroll-btn{
    background-color: #d6cece;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 50px 0 50px;
}

.no-results{
    color: #d6cece;
    font-size: x-large;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0e0f;
    flex-direction: column;
}

.no-results h1{
    margin: 20px;
}
.card-movie{
    display: flex;
    align-items: center;
    width: 300px;
    margin: 15px;
    /*margin: 1%*/
}

.pagination-section {
    display: none;
}

@media screen and  (max-width : 750px) {
    
    .main-container {
        flex-direction: column;
        padding: 10px;
    }

    .pagination-section {
        display: block;
        color: #d6cece;
    }

    .pagination-btn:hover,
    .pagination-btn:active {
    background-color: #d6cece;
    color: #261a26;
    }
    
    .previous {
        display: none;
    }

    .next {
        display: none;
    }

    .card-movie{
        margin: 20px;
    }
}