<h2 mat-dialog-title>{{dialogTitle}}</h2>

<mat-dialog-content>
  <p>Are you sure you want to delete this this movie?</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-warn" (click)="delete()">Delete</button>
</mat-dialog-actions>