<h2 mat-dialog-title>{{formTitle}}</h2>

<mat-dialog-content [formGroup]="movieForm">

  <mat-form-field class="inputfield">
    <input matInput placeholder="Title" formControlName="Title" autocomplete="off">
    <div *ngIf="title.touched && title.pending">
      Checking for title uniqueness...
    </div>
    <mat-error *ngIf="title.touched && title.invalid">
      <div *ngIf="title.errors['required']">
        Mandatory field
      </div>
      <div *ngIf="title.errors['titleAlreadyExists']">
        Movie already exists
      </div>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="inputfield">
    <input matInput placeholder="Year of release" formControlName="Year" autocomplete="off">
    <mat-error *ngIf="year.touched && year.invalid">
      <div *ngIf="year.errors['required']">
        Mandatory field
      </div>
      <div *ngIf="year.errors['isValidYearFormat']">
        Not a valid year
      </div>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="inputfield">
    <input matInput placeholder="Image url" formControlName="Poster" autocomplete="off">
    <mat-error *ngIf="poster.touched && poster.invalid">
      <div *ngIf="poster.errors['required']">
        Mandatory field
      </div>
      <div *ngIf="poster.errors['isValidUrlFormat']">
        Not a valid url format
      </div>
    </mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" [disabled]="movieForm.invalid" (click)="onSubmit()">Save</button>
</mat-dialog-actions>