
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    overflow: hidden;
    margin: auto;
    border: solid 1px black;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #a3bd2f66;
    text-align: center;
    border-radius: 5px;
}

.card:hover,
.card:active{
    border: solid 7px #e4e495;
}
.card-header{
    height: 50px;
    font-size: large;
    background-color: #d6cece;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.card-header span{
     text-overflow: ellipsis !important;
    white-space: nowrap;
}
.marquee span {
    display: inline-block;
    padding-left: 100%;  /* show the marquee just outside the paragraph */
    animation: marquee 50s linear;
}

.marquee span:hover {
    animation-play-state: paused;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
.card-content{
    width: 100%;
    max-height: 350px;
    flex: 1;
    object-fit: cover;
}

.card-actions{
    background-color: #d6cece;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
