<div class="card">
  <div class="card-header"><span>{{movie.Title | validEnglish | titlecase}}</span></div>
  <img class="card-content" src="{{movie.Poster}}" alt="{{movie.Title}}">
  <div class="card-actions">
    <button mat-button (click)="openFullInfoDialog()" color="primary">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-button (click)="openEditMovieForm()" color="primary">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-button (click)="openDeleteDialog()" color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>