/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    background-image: linear-gradient( #0f0e0f, #1b141b); 
}