.field{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.field-key{
    font-weight: bold; 
    display: inline-block;
    padding: 10px;
}

.field-value{
    display: inline-block;
    padding: 10px;
}