<h2 mat-dialog-title>{{fullMovie.Title}}</h2>

<mat-dialog-content>
  <div class="field">
    <span class="field-key">Runtine</span>
    <div class="field-value">{{fullMovie.Runtime}}</div>
  </div>

  <div class="field">
    <span class="field-key">Plot</span>
    <div class="field-value">{{fullMovie.Plot}}</div>
  </div>

  <div class="field">
    <span class="field-key">Genre</span>
    <div class="field-value">{{fullMovie.Genre}}</div>
  </div>

  <div class="field">
    <span class="field-key">Director</span>
    <div class="field-value">{{fullMovie.Director}}</div>
  </div>
 
  <div class="field">
    <span class="field-key">Actors</span>
    <div class="field-value">{{fullMovie.Actors}}</div>
  </div>

  <div class="field">
    <span class="field-key">Awards</span>
    <div class="field-value">{{fullMovie.Awards}}</div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>